* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-row {
    display: flex;
    padding: 0;
    margin: 0;
}

.grid-cell {
    border: 1px solid black;
}

.text-cell {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
 
#grid-container {
    display: flex;
    justify-content: center;
}

.modal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: none;
}

#qna > .modal-content {
    width: 80vw;
    height: 80vh;
    background: white;
    top: calc(50% - 40vh);
    left: calc(50% - 40vw);

}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}

#score {
    position: absolute;
    right: 20px;
    top: 20px;
}